<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="../front-end/js/pagination.js" defer></script>
</head>

<body>

    <form action="/calculate" enctype="multipart/form-data" method="POST">
        <input type="file" name="image">
        <input type="file" name="dataset" multiple>
        <input type="radio" name="choice" id="" value="texture">
        <input type="radio" name="choice" id="" value="color">
        <input type="submit" value="Submit">
    </form>

    <div class="row">
        <div class="col-6">
            <div id="product-container">

            </div>
        </div>
    </div>
</body>

</html>