.about {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
}
.container-about {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.about-text {
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
}
.about-h1{
    background: linear-gradient(90deg,#00dbde 20%,#fc00ff 70%);
    font-family: 'Pacifico', sans-serif;
    word-spacing: 15px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    width: auto;
}
.wrapper {
    width: 100%;
    padding: 1%;
  }
  .wrapper .carousel{
    display: flex;
    flex-direction: row;
    gap: 75px;
    border-radius: 8px;
  }
  .carousel .card {
    height: 342px;
    width: 60%;
    list-style: none;
    cursor: pointer;
  }
  .card .card-div {
    width: 100%;
    height: 100%;
    border: 5px solid rgba(255, 255, 255, 0.241);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
  }
  .card-div .card-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
  }
  .card .card-div .card-body{
    width: 100%;
    height: 100%;
    top: 100%;
    right: 0;
    position: absolute;
    background: linear-gradient(90deg,#00dade33 20%, rgba(251, 0, 255, 0.212) 70%);  
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    color: #fff;
    transition: 2s;
  }
  .card-div:hover .card-body{
    top: 0;
  }
  .card-body .card-title{
    text-transform: capitalize;
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 600;
  }
  .card-body .card-sub{
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 300;
  }
  .card-body .card-info{
    text-align: justify;
    font-size: 1.05rem;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
  }