.home{
    position: relative;
    min-height: 100vh;
    width: auto;
    background: url(../images/home_photo.jpg);
    background-size: 160%;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-text {
    width: 100%;
    align-items: center;
}
.home-text .text{
    position: relative;
    font-family: 'MyWebFont', sans-serif;
    color: #ffffff;
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
}