.home{
    position: relative;
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
}
.home-text {
    width: 100%;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}
.home-text .text{
    position: relative;
    font-family:'Kdam Thmor Pro', sans-serif ;
    color: var(--main-color);
    font-size: 4.5rem;
    font-weight: 600;
}
.home-text .text.title-text{
    position: relative;
    color: var(var(--main-color));
}
.text.title-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 105%;
    width: 100%;
    background-color: var(--bg-color);
    border-left: 2px solid var(--main-color);
    animation: animate 5s steps(20) infinite;
    overflow: hidden;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
.home h3{
    color: var(--text-color);
    font-family:'Kdam Thmor Pro', sans-serif ;
    padding-top: 5px;
    word-spacing: 1px;
}
.firsth3 {
    color: var(--text-color);
    font-family:'Kdam Thmor Pro', sans-serif ;
    margin-top: 20px;
    word-spacing: 1px;
}

/* css home photo */
.home-photo img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}